.messages {
  // margin: 20px 45px;

  .message-table {
    background: #fff;
    border-radius: 5px;
    width: 100%;
    overflow: auto;

    table {
      margin-bottom: unset !important;
      tr {
        cursor: pointer;

        td {
          padding: 20px 45px;
          color: #002d4b;
          font-size: 13px;
          font-weight: 300;

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 415px) {
  .message-detail {
    margin: 0px !important;
    .title-ctn-2 {
      font-size: 22px;
    }
  }
}

.message-detail {
  margin: 45px;
  margin-top: 75px;
  .gig-user-detail {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;

    .user-banner {
      position: relative;

      img {
        width: 100%;
      }

      .user-avatar {
        display: inline-block;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        bottom: -41px;

        img {
          width: 82px;
          height: 82px;
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }
    }

    .user-content {
      padding: 0px 30px 30px;
      display: inline-block;
      width: 100%;

      .user-info {
        padding-top: 60px;
        text-align: center;
        padding-bottom: 30px;

        .name {
          margin: 0;
          color: #002d4b;
          font-size: 18px;
          font-weight: 300;
        }
      }

      .btn-action {
        button {
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .user-detail {
    .name {
      color: #002d4b;
      font-size: 16px;
      font-weight: 300;
    }

    .location {
      color: #05c4e1;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .user-content {
      .user-text {
        margin-bottom: 25px;
      }

      .p-title {
        margin: 0;
        color: #05c4e1;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
      }

      .p-content {
        margin: 0;
        color: #002d4b;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: -0.3px;
      }
    }
  }

  @media (max-width: 767px) {
    .dasdboard-content {
      height: auto !important;
      position: inherit !important;
      overflow: inherit !important;
    }
  }

  .msg-conent {
    .view-gig {
      padding: 20px 35px;
      background: #fff;
      border-radius: 7px;
      margin-bottom: 45px;

      .confirm {
        margin: 0;
        color: #002d4b;
        font-size: 16px;
        font-weight: 300;
        padding: 19px 0;

        i {
          width: 21px;
          height: 14px;
          background: url("/assets/images/check.png") no-repeat center center;
          display: inline-block;
          background-size: contain;
          margin-left: 15px;
        }
      }
    }

    .msg-reply {
      // padding: 0 100px 45px;

      .reply-with-user {
        padding: 5px 10px;
        // width: 60%;
        margin: 0 auto;
        background: #fff;
        border-radius: 7px;
        margin-bottom: 20px;

        .ant-input-group-addon {
          border: none;
          background: #fff;
        }

        .content-input {
          color: #05c4e1;
          font-size: 16px;
          font-weight: 300;
          border: none;
          box-shadow: none;

          &::placeholder {
            color: #05c4e1;
            /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #05c4e1;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #05c4e1;
          }
        }
      }

      .text-history {
        color: #05c4e1;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 45px 0;
        text-align: center;
      }
    }
  }
}

.box-message {
  max-height: 490px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  // margin-top: 20px;

  .box-item {
    position: relative;
    margin-bottom: 20px;

    .left-contents {
      margin-right: 60px !important;
      background: #e2e2e2 !important;
    }

    .ctn-msg {
      background: #fff;
      padding: 10px;
      // position: relative;
      // width: 60%;
      margin: 0 auto;
      margin-left: 60px;
      margin-right: 60px;
      border-radius: 8px;

      p {
        color: #002d4b;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: -0.3px;
        line-height: 20px;
      }

      span {
        color: #05c4e1;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        display: inline-block;
        position: absolute;
        bottom: 10px;
        left: 0;
      }
    }
  }
}

.ic-msg-left {
  background: url("/assets/images/ic-msg-left.png") no-repeat center center;
  width: 25px;
  height: 37px;
  display: inline-block;
  position: absolute;
  bottom: -14px;
  left: -19px;
}

.ic-msg-right {
  background: url("/assets/images/ic-msg-left.png") no-repeat center center;
  width: 25px;
  height: 38px;
  display: inline-block;
  position: absolute;
  bottom: -12px;
  right: -16px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.user-avatar-right {
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
}

.user-avatar-left {
  position: absolute;
  bottom: 0;
  // left: -75px;
  z-index: 501;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
}

.text-confirm {
  background: url("/assets/images/bg-msg-confirm.png") no-repeat center center;
  background-size: contain;
  width: 340px; // height: 45px;
  color: #05c4e1;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 25px auto;
  text-align: center;
}

@media (max-width: 767px) {
  .dashboard-content {
    height: auto !important;
    position: inherit !important;
    overflow: inherit !important;
  }
}
