.reset_password {
  &__Form {
    width: 500px;
    padding: 30px 40px;
    border-radius: 5px;
    margin: 50px auto;
    border: 1px solid #e0e0e0;
    margin-top: 50px;
    h3{
        font-size: 35px;
        font-weight: 500;
        text-align: center;
        color: #002d4b;
        margin-bottom: 8px;
    }
    p{
        text-align: center;
        color: #002d4b;
    }
    .change-password {
      max-width: 640px;
      margin: 0 auto;

      .btn-update {
        background: #05c4e1;
        color: #fff;
        border: 1px solid #05c4e1;
        font-size: 16px;
        font-weight: 700;
        font-family: Montserrat;
        padding: 17px 36px;
        border-radius: 5px;
        width: 100%;
      }

      .btn-decline {
        background: #fff;
        color: #05c4e1;
        border: 1px solid #05c4e1;
        font-size: 16px;
        font-weight: 700;
        font-family: Montserrat;
        padding: 17px 36px;
        border-radius: 5px;
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .reset_password {
    &__Form {
      width: 350px;
      margin-top: 100px;
      h3{
        font-size: 24px;
      }
      .change-password .btn-update{
        padding: 10px 0px;
      }
      .change-password .btn-decline{
        padding: 10px 0px;
      }
    }
  }
}